<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    
    
</head>
<body>
    <div ng-app="app" >
        <nav-bar></nav-bar>
        <mon-panier></mon-panier>        
        <div class="unproduit" ng-controller="produitctrl as produit">
            
            <form action="" method="POST" role="form">
                <legend>Edition produit</legend>
            
                <div class="form-group">
                    <label for="input-titre">titre produit</label>
                    <input type="text" class="form-control" name="input-titre" id="input-titre"  ng-model=produit.ref>
                </div>
                <div class="form-group">
                    <label for="input-image">Image Produit</label>
                    <input type="text" class="form-control" name="input-image" id="input-image" placeholder="Input field" ng-model=produit.image>
                    <img ng-src="{{produit.image}}" style="height: 200px;max-width: width 200px;size:auto">
                </div>
                <div class="form-group">
                    <label for="input-prix">Prix Produit</label>
                    <input type="number" class="form-control"  name="input-prix" id="input-prix" placeholder="Input field" ng-model=produit.prix>
                </div>
                <div class="form-group">
                    <label for="textarea-desc">Description Produit</label>
                    <textarea name="textarea-desc" id="textarea-desc" cols="30" rows="10" ng-model=produit.desc></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
                
            
                
            </form>
            {{produit|json}}

        votre artcicle {{produit.nom}} ref : {{produit.ref}} au prix de {{produit.prix}} Euros a ete ajouté au panier pour un total de {{quant*prix | currency : '&euro;' : 3}} 
        <br>
        Reference du produit : 
        <input type="text" name="ref" id="ref" ng-model=produit.ref />
        nom : 
        <input type="text" name="nom" id="nom" ng-model=produit.nom />
         prix
        <input type="number" name="prix" id="prix" ng-model=produit.prix />
        </div>
    </div>>
    
    <!--liste des scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.js"></script>
    <script src="/App/App.js"></script>
    <script src="/App/filter/myCurrency/myCurrency.js"></script>
    <script src="/App/filter/compta/compta.js"></script>
    <script src="/App/produitctrl/produitctrl.js"></script>
    <script src="/App/directive/navbar/navbar.js"></script>
    <script src="/App/directive/panier/panier.js"></script>
    
</body>
</html>